@import "tailwindcss";

/* @keyframes scroll-logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-logos {
  animation: scroll-logos 30s linear infinite;
} */
